# Java
*.class
*.jar

# JDK / JRE
jdk/
jre/

# Build
bin/
build/
out/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

firebase-adminsdk*.json
secrets/
.env
.env.local

__pycache__/
*.pyc

# Python / Django
venv/
.venv/
db.sqlite3
*.sqlite3
staticfiles/
runserver*.log
